name: Deploy

on:
  push:
    branches:
    - deploy

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build src

    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
    - name: npm ci
      run: npm ci

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1

    - name: Reset greengrass deploy
      run: node deploy/reset-greengrass-deploy.js

    - name: cdk deploy
      run: npm run cdk -- deploy "*"

    - name: Create greengrass deploy
      run: node deploy/create-greengrass-deploy.js
